page-dashboard {
  .dashboard-main-container {
    padding-top: 10px;
    background: white;
    text-align: center; }
    .dashboard-main-container h3 {
      color: #37474F; }
    .dashboard-main-container .avatar-conatainer {
      position: relative; }
      .dashboard-main-container .avatar-conatainer img {
        width: 125px;
        height: 125px;
        border-radius: 100%;
        border: 2px solid #eff4ff; }
      .dashboard-main-container .avatar-conatainer .badge {
        position: absolute;
        background: #1568ff;
        border: 4px solid white;
        padding: 14px 6px;
        border-radius: 100%;
        color: white;
        font-weight: bold;
        margin-left: -30px;
        top: 64px; }
      .dashboard-main-container .avatar-conatainer .badge-notify {
        position: absolute;
        margin-left: 100px;
        top: 14px; }
    .dashboard-main-container .slider-pager {
      bottom: initial;
      font-size: 10px; }
      .dashboard-main-container .slider-pager .slider-pager-page {
        color: #1568ff; }
        .dashboard-main-container .slider-pager .slider-pager-page.active {
          font-size: 14px; }
    .dashboard-main-container .box {
      padding-top: 20px;
      padding-bottom: 20px; }

}
