<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-thumbnail item-start>
        <img [src]="item.profilePic" />
      </ion-thumbnail>
      <h3>{{item.title}}</h3>
      <h2>{{item.patientName}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.notes">{{item.notes}}</ion-note>

      <ion-row padding>
        <ion-col>
          <ion-badge><ion-icon name="camera"></ion-icon> {{item.photos}}</ion-badge>
        </ion-col>

        <ion-col>
          <ion-badge><ion-icon name="mic"></ion-icon> {{item.voiceMemos}}</ion-badge>
        </ion-col>

        <ion-col>
          <ion-badge><ion-icon name="videocam"></ion-icon> {{item.videos}}</ion-badge>
        </ion-col>

        <ion-col>
          <ion-badge><ion-icon name="paper"></ion-icon> {{item.notes}}</ion-badge>
        </ion-col>

      </ion-row>
    </button>


  </ion-list>
</ion-content>
