page-media-grid {
  .image-container {
    min-height: 200px;
    background-size: cover;
  }

  @media (min-width: 0px) {
    .images {
        column-count: 3;
    }
  }

  @media (min-width: 420px) {
    .images {
        column-count: 4;
    }
  }

  @media (min-width: 720px) {
    .images {
        column-count: 5;
    }
  }

  .one-image img{
    float:left;
    width : 31%;
    padding : 1%;
    max-width: 100px;
    min-width : 100px;
    max-height: 75px;
    min-height : 100px;
  }

  .noData {
    text-align: center;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}
