page-note {

  .NotePage{
    background-image: url('../assets/img/note.jpg');
    vertical-align: top;
    clear: both;
    overflow: hidden;
  }

  .NotePage > ion-content{
    background-color: transparent;
  }

  .textInput{
    background-color: transparent;
    // height: 523dp;
    width: 70%;
  }

  .wordsList{
    background-image: url('../assets/img/note.jpg');
    //background-color: transparent;
    // height: 523dp;
    width: 30%;
  }

  .itemWord{
    background-color: transparent;
  }


}
