page-note {

  .NotePage{
    background-image: url('../../assets/img/note.jpg');
  }

  .NotePage > ion-content{
    background-color: transparent;
  }

  .textInput{
    background-color: transparent;
    // height: 523dp;
    // width: 391dp;
  }


}
