<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-thumbnail item-start>
          <img [src]="item.profilePic" />
        </ion-thumbnail>
        <h3>{{item.title}}</h3>
        <h2>{{item.patientName}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.notes">{{item.notes}}</ion-note>

        <ion-row padding-top>
          <ion-col>
            <ion-badge><ion-icon name="camera"></ion-icon> {{item.photos}}</ion-badge>
          </ion-col>

          <ion-col>
            <ion-badge><ion-icon name="videocam"></ion-icon> {{item.videos}}</ion-badge>
          </ion-col>

          <ion-col>
            <ion-badge><ion-icon name="mic"></ion-icon> {{item.voiceMemos}}</ion-badge>
          </ion-col>

          <ion-col>
            <ion-badge><ion-icon name="paper"></ion-icon> {{item.notes}}</ion-badge>
          </ion-col>

        </ion-row>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
